.NewForm h1 {
  font-size: 28px;
  text-align: center;
}
.NewForm form {
  max-width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0 auto;
}
.NewForm form input {
  width: 100%;
  border: 1px solid orange;
  outline: none;
  transition: box-shadow 0.2s;
  margin-bottom: 20px;
}
.NewForm form input:focus {
  box-shadow: 0 0 3px orange; 
}
.NewForm form label {
  margin-bottom: 0.6em;
  display: block;
}
.NewForm form button {
  color: #fff;
  background-color: orange;
  font-size: 16px;
  padding: 10px;
  border-radius: 2px;
  width: 200px;
  margin: 0 auto;
  display: block;
  border: none;
  border-bottom: 3px solid #673ab7;
  transition: all 0.2s;
}
.NewForm form button:focus {
  outline: none;
  box-shadow: 0 0 4px darkgoldenrod;
}
.NewForm form button:active {
  border-bottom: none;
  margin-top: 2px;
  box-shadow: 0 2px 0 darkgoldenrod inset;
}
.NewForm form button:disabled {
  background-color: #dec5e2;
  border-bottom: 2px solid #f0e9fd;
}