.chartWrapperMain {
    width: 1700px;
    height: 650px;
    margin-right: 100px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
.chartWrapperSub {
    position: relative;
    /* margin: auto; */
    min-width: 2500px;
    width: auto;
    /* width: 1900px; */
    height: 1250px;
    /* margin-left: 100px; */
    overflow-y: hidden;
}

/* https://codepen.io/chartjs/pen/YVWZbz */