.reportBuilder{
    height: 50vh;
    width: 50vw;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin-top: 0px;
    background: rgb(101, 245, 101);
    border-radius: 25px;
    padding-bottom: 90px;
    list-style: none;
}
.reportBuilder-taking{
    height: 50vh;
    width: 50vw;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin-top: 50px;
    background: rgb(101, 245, 101);
    border-radius: 25px;
    padding-bottom: 90px;
    list-style: none;
}

.reportBuilder .answerEditorBuilder {
    height: 90vh;
    width: 50vw;
    max-height: 100vh;
    margin-top: 50px;
    margin-right: 250px;
    margin-left: 30px;
    position: relative;
}
.reportBuilder .answerEditorBuilder .formlist {
    height: 90vh;
    max-height: 100vh;
}
.reportBuilder header{
    display: flex;
    flex-direction: row;
    align-items: center;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 1;
    width: 80%;
    height: 10%;
    text-align: center;
    margin-bottom: 25%;
}
.reportBuilder label{
    width: 400px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    /* margin-left: 250px; */
    background: rgb(101, 245, 101);
    border-radius: 5px;
    padding-bottom: 9px;
    background: orange;
}
.reportBuilder .answerEditorBuilder .content3 {
    flex-direction: row;
    height: 1px;
    max-height: 1px;
    display: flex;
    width: 5%;
}
.reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items {
    margin-left: 30%;
    list-style: none;
}

.reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right {
    margin-left: 0%;
}
.reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons {
    visibility: hidden;
}
.reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons:hover {
    visibility: visible;
}
.reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .radio {
     margin-top: 5%;
     margin-left: 5%;
     margin-bottom: 3%;
     width: 10px;
} 
.reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .radio select {
    border: none;
    width: 300px;
    text-align: center;
    margin-top: 10px;
    background: orange;
}
.reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .explanation {
     margin-top: 55%;
     margin-left: 55%;
     margin-bottom: 33%;
     width: 10px;
 }
 .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .explanation .explanation-label {
    width: 400px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    margin-top: 0px;
    background: rgb(101, 245, 101);
    border-radius: 5px;
    padding-bottom: 9px;
}
 
.reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .radio .radioButton {
    width: 10vw;
}
.reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .text {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
    width: 100vw;
}
.reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .OnlineListItems {
    height: 80vh;
}
.content3 .sidebar2 {
    flex-basis: 300px;
    background: #fbf9ff;
    border-right: 1px solid #bba0ea;
    padding-right: 0px;
    padding-left: 1px;
    display: flex;
    flex-direction: column;
    background-color: slateblue;
    z-index: 1;
}
.reportBuilder .answerEditorBuilder .rnd{
    height: 100vh;
    width: 90vw;
    max-width: 90vw;
    max-height: 100vh; 
}
.reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons .builder-round-button-1, .builder-round-button-2, .builder-round-button-3, .builder-round-button-4, .builder-round-button-5, .builder-round-button-6 {
    align-self: flex-end; 
    width:70px;
    height:60px;
    line-height: 60px;
    border: 2px solid #f5f5f5;
    border-radius: 50%; 
    margin-top: 30px;
    margin-right: 60px;
    transition: transform .7s ease-in-out;
    box-shadow: 10px 10px black;
 }
 .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons .builder-round-button-2 { 
   background: yellowgreen;
   visibility: hidden;
 }
 .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons .builder-round-button-2:hover
 {
    background-image: linear-gradient(to left, violet, red, white, green, yellow, orange, red);
    background: linear-gradient(to left, violet, red,  green, white, green, yellow, orange, red);
    cursor: pointer;
    visibility: visible;
 }
 .modal-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left: 11%;
    z-index: 1;
    width: 80%;
    height: 10%;
    text-align: center;
    margin-bottom: -10%;
}

@media only screen and (min-width: 638px) {
    .reportBuilder{
        height: 50vh;
        width: 50vw;
        max-width: 100vw;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        margin-top: 0px;
        background: rgb(101, 245, 101);
        border-radius: 25px;
        padding-bottom: 90px;
        list-style: none;
    }
    .reportBuilder-taking{
        height: 50vh;
        width: 50vw;
        max-width: 100vw;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        margin-top: 50px;
        background: rgb(101, 245, 101);
        border-radius: 25px;
        padding-bottom: 90px;
        list-style: none;
    }
    
    .reportBuilder .answerEditorBuilder {
        height: 90vh;
        max-height: 100vh;
        margin-top: 50px;
        margin-right: 250px;
        margin-left: 30px;
        position: relative;
    }
    .reportBuilder .answerEditorBuilder .formlist {
        height: 90vh;
        max-height: 100vh;
    }
    .reportBuilder header{
        display: flex;
        flex-direction: row;
        align-items: center;
        display:flex;
        align-items:center;
        justify-content:center;
        z-index: 1;
        width: 80%;
        height: 10%;
        text-align: center;
        margin-bottom: 25%;
    }
    .reportBuilder label{
        width: 400px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
        background: rgb(101, 245, 101);
        border-radius: 5px;
        padding-bottom: 9px;
        background: orange;
    }
    .reportBuilder .answerEditorBuilder .content3 {
        flex-direction: row;
        height: 1px;
        max-height: 1px;
        display: flex;
        width: 5%;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items {
        margin-left: 30%;
        list-style: none;
    }
    
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right {
        margin-left: 0%;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons {
        visibility: hidden;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons:hover {
        visibility: visible;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .radio {
         margin-top: 5%;
         margin-left: 5%;
         margin-bottom: 3%;
         width: 10px;
    } 
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .radio select {
        border: none;
        width: 300px;
        text-align: center;
        margin-top: 10px;
        background: orange;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .explanation {
         margin-top: 55%;
         margin-left: 55%;
         margin-bottom: 33%;
         width: 10px;
     }
     .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .explanation .explanation-label {
        width: 400px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        margin-top: 0px;
        background: rgb(101, 245, 101);
        border-radius: 5px;
        padding-bottom: 9px;
    }
     
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .radio .radioButton {
        width: 10vw;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .text {
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 3%;
        width: 100vw;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .OnlineListItems {
        height: 80vh;
    }
    .content3 .sidebar2 {
        flex-basis: 300px;
        background: #fbf9ff;
        border-right: 1px solid #bba0ea;
        padding-right: 0px;
        padding-left: 1px;
        display: flex;
        flex-direction: column;
        background-color: slateblue;
        z-index: 1;
    }
    .reportBuilder .answerEditorBuilder .rnd{
        height: 100vh;
        width: 90vw;
        max-width: 90vw;
        max-height: 100vh; 
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons .builder-round-button-1, .builder-round-button-2, .builder-round-button-3, .builder-round-button-4, .builder-round-button-5, .builder-round-button-6 {
        align-self: flex-end; 
        width:70px;
        height:60px;
        line-height: 60px;
        border: 2px solid #f5f5f5;
        border-radius: 50%; 
        margin-top: 30px;
        margin-right: 60px;
        transition: transform .7s ease-in-out;
        box-shadow: 10px 10px black;
     }
     .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons .builder-round-button-2 { 
       background: yellowgreen;
       visibility: hidden;
     }
     .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons .builder-round-button-2:hover
     {
        background-image: linear-gradient(to left, violet, red, white, green, yellow, orange, red);
        background: linear-gradient(to left, violet, red,  green, white, green, yellow, orange, red);
        cursor: pointer;
        visibility: visible;
     }
     .modal-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-left: 11%;
        z-index: 1;
        width: 80%;
        height: 10%;
        text-align: center;
        margin-bottom: -10%;
    }
   
}

  @media only screen and (max-width: 637px) {
   
  }
  
  /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */
  
  @media (min-width: 1281px) {
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
   
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  }
  
  
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
  }
  
  
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .reportBuilder{
        height: 50vh;
        width: 80vw;
        max-width: 100vw;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        margin-top: 0px;
        margin-left: -50px;
        background: rgb(101, 245, 101);
        border-radius: 25px;
        padding-bottom: 90px;
        list-style: none;
    }
    .reportBuilder-taking{
        height: 50vh;
        width: 50vw;
        max-width: 100vw;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        margin-top: 50px;
        background: rgb(101, 245, 101);
        border-radius: 25px;
        padding-bottom: 90px;
        list-style: none;
    }
    
    .reportBuilder .answerEditorBuilder {
        height: 90vh;
        width: 45vw;
        max-height: 100vh;
        margin-top: 50px;
        margin-right: 250px;
        margin-left: 20px;
        position: relative;
    }
    .reportBuilder .answerEditorBuilder .formlist {
        height: 90vh;
        max-height: 100vh;
    }
    .reportBuilder header{
        display: flex;
        flex-direction: row;
        align-items: center;
        display:flex;
        align-items:center;
        justify-content:center;
        z-index: 1;
        width: 80%;
        height: 10%;
        text-align: center;
        margin-bottom: 25%;
    }
    .reportBuilder label{
        width: 300px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 20px;
        background: rgb(101, 245, 101);
        border-radius: 5px;
        padding-bottom: 9px;
        background: orange;
    }
    .reportBuilder .answerEditorBuilder .content3 {
        flex-direction: row;
        height: 1px;
        max-height: 1px;
        display: flex;
        width: 5%;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items {
        margin-left: 30%;
        list-style: none;
    }
    
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right {
        margin-left: 0%;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons {
        visibility: hidden;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons:hover {
        visibility: visible;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .radio {
         margin-top: 5%;
         margin-left: 5%;
         margin-bottom: 3%;
         width: 10px;
    } 
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .radio select {
        border: none;
        width: 300px;
        text-align: center;
        margin-top: 10px;
        background: orange;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .explanation {
         margin-top: 55%;
         margin-left: 55%;
         margin-bottom: 33%;
         width: 10px;
     }
     .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .explanation .explanation-label {
        width: 400px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        margin-top: 0px;
        background: rgb(101, 245, 101);
        border-radius: 5px;
        padding-bottom: 9px;
    }
     
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .radio .radioButton {
        width: 10vw;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .text {
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 3%;
        width: 100vw;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .OnlineListItems {
        height: 80vh;
    }
    .content3 .sidebar2 {
        flex-basis: 300px;
        background: #fbf9ff;
        border-right: 1px solid #bba0ea;
        padding-right: 0px;
        padding-left: 1px;
        display: flex;
        flex-direction: column;
        background-color: slateblue;
        z-index: 1;
    }
    .reportBuilder .answerEditorBuilder .rnd{
        height: 100vh;
        width: 90vw;
        max-width: 90vw;
        max-height: 100vh; 
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons .builder-round-button-1, .builder-round-button-2, .builder-round-button-3, .builder-round-button-4, .builder-round-button-5, .builder-round-button-6 {
        align-self: flex-end; 
        width:70px;
        height:60px;
        line-height: 60px;
        border: 2px solid #f5f5f5;
        border-radius: 50%; 
        margin-top: 30px;
        margin-right: 60px;
        transition: transform .7s ease-in-out;
        box-shadow: 10px 10px black;
     }
     .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons .builder-round-button-2 { 
       background: yellowgreen;
       visibility: hidden;
     }
     .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons .builder-round-button-2:hover
     {
        background-image: linear-gradient(to left, violet, red, white, green, yellow, orange, red);
        background: linear-gradient(to left, violet, red,  green, white, green, yellow, orange, red);
        cursor: pointer;
        visibility: visible;
     }
     .modal-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-left: 11%;
        z-index: 1;
        width: 80%;
        height: 10%;
        text-align: center;
        margin-bottom: -10%;
    }
    
  }
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  @media (min-width: 320px) and (max-width: 480px) {
    .reportBuilder{
        height: 50vh;
        width: 80vw;
        max-width: 100vw;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        margin-top: 0px;
        background: rgb(101, 245, 101);
        border-radius: 25px;
        padding-bottom: 90px;
        list-style: none;
    }
    .reportBuilder-taking{
        height: 50vh;
        width: 50vw;
        max-width: 100vw;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        margin-top: 50px;
        background: rgb(101, 245, 101);
        border-radius: 25px;
        padding-bottom: 90px;
        list-style: none;
    }
    
    .reportBuilder .answerEditorBuilder {
        height: 90vh;
        width: 45vw;
        max-height: 100vh;
        margin-top: 50px;
        margin-right: 250px;
        margin-left: 20px;
        position: relative;
    }
    .reportBuilder .answerEditorBuilder .formlist {
        height: 90vh;
        max-height: 100vh;
    }
    .reportBuilder header{
        display: flex;
        flex-direction: row;
        align-items: center;
        display:flex;
        align-items:center;
        justify-content:center;
        z-index: 1;
        width: 80%;
        height: 10%;
        text-align: center;
        margin-bottom: 25%;
    }
    .reportBuilder label{
        width: 300px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        margin-left: -250px;
        margin-bottom: 20px;
        background: rgb(101, 245, 101);
        border-radius: 5px;
        padding-bottom: 9px;
        background: orange;
    }
    .reportBuilder .answerEditorBuilder .content3 {
        flex-direction: row;
        height: 1px;
        max-height: 1px;
        display: flex;
        width: 5%;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items {
        margin-left: 30%;
        list-style: none;
    }
    
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right {
        margin-left: 0%;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons {
        visibility: hidden;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons:hover {
        visibility: visible;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .radio {
         margin-top: 5%;
         margin-left: 5%;
         margin-bottom: 3%;
         width: 10px;
    } 
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .radio select {
        border: none;
        width: 300px;
        text-align: center;
        margin-top: 10px;
        background: orange;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .explanation {
         margin-top: 55%;
         margin-left: 55%;
         margin-bottom: 33%;
         width: 10px;
     }
     .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .explanation .explanation-label {
        width: 400px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        margin-top: 0px;
        background: rgb(101, 245, 101);
        border-radius: 5px;
        padding-bottom: 9px;
    }
     
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .radio .radioButton {
        width: 10vw;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .text {
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 3%;
        width: 100vw;
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .OnlineListItems {
        height: 80vh;
    }
    .content3 .sidebar2 {
        flex-basis: 300px;
        background: #fbf9ff;
        border-right: 1px solid #bba0ea;
        padding-right: 0px;
        padding-left: 1px;
        display: flex;
        flex-direction: column;
        background-color: slateblue;
        z-index: 1;
    }
    .reportBuilder .answerEditorBuilder .rnd{
        height: 100vh;
        width: 90vw;
        max-width: 90vw;
        max-height: 100vh; 
    }
    .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons .builder-round-button-1, .builder-round-button-2, .builder-round-button-3, .builder-round-button-4, .builder-round-button-5, .builder-round-button-6 {
        align-self: flex-end; 
        width:70px;
        height:60px;
        line-height: 60px;
        border: 2px solid #f5f5f5;
        border-radius: 50%; 
        margin-top: 30px;
        margin-right: 60px;
        transition: transform .7s ease-in-out;
        box-shadow: 10px 10px black;
     }
     .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons .builder-round-button-2 { 
       background: yellowgreen;
       visibility: hidden;
     }
     .reportBuilder .answerEditorBuilder .content3 .onlinequestion-list-items .question-card-top-right .manage-input-field-icons .builder-round-button-2:hover
     {
        background-image: linear-gradient(to left, violet, red, white, green, yellow, orange, red);
        background: linear-gradient(to left, violet, red,  green, white, green, yellow, orange, red);
        cursor: pointer;
        visibility: visible;
     }
     .modal-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-left: 11%;
        z-index: 1;
        width: 80%;
        height: 10%;
        text-align: center;
        margin-bottom: -10%;
    }
}