.question-content {
    margin-bottom: 50px;
    background: white;   
    align-items: center;
    justify-content: center;
}
.question-explanation-content {
    background: white;   
    align-items: center;
    justify-content: center;
}
.question-explanation-content .editorTest { 
    font: normal 1.11em KaTeX_Main,Times New Roman,serif;
    width: 84vw;
    max-width: 84vw;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    line-height: 2em;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0 0 0 5px #d2e3f7;
    padding-bottom: 90px;
    list-style: none;
    background: white;   
    padding:10px 5px 100px 20px; 
}
.question-content .editorTest { 
    font: normal 1.11em KaTeX_Main,Times New Roman,serif;
    min-height: 5vh;
    width: 84vw;
    max-width: 84vw;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    line-height: 2em;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0 0 0 5px #d2e3f7;
    padding-bottom: 90px;
    list-style: none;
    background: white;   
    padding:10px 5px 100px 20px; 
} 
@media (min-width: 1281px) {
    .question-content {
        margin-bottom: 50px;
        background: white;   
        align-items: center;
        justify-content: center;
    }
    .question-explanation-content {
        background: white;   
        align-items: center;
        justify-content: center;
    }
    .question-explanation-content .editorTest { 
        font: normal 1.11em KaTeX_Main,Times New Roman,serif;
        width: 84vw;
        max-width: 84vw;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        line-height: 2em;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        padding-bottom: 90px;
        list-style: none;
        background: white;   
        padding:10px 5px 100px 20px; 
    }
    .question-content .editorTest { 
        font: normal 1.11em KaTeX_Main,Times New Roman,serif;
        min-height: 5vh;
        width: 84vw;
        max-width: 84vw;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        line-height: 2em;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        padding-bottom: 90px;
        list-style: none;
        background: white;   
        padding:10px 5px 100px 20px; 
    }
  }
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  @media (min-width: 1025px) and (max-width: 1280px) {  
    .question-content {
        /* margin-left: 13%; */
        margin-bottom: 50px;
        background: white;
        align-items: center;
        justify-content: center;  
    }
    .question-explanation-content {
        background: white;   
        align-items: center;
        justify-content: center;  
    }
    .question-explanation-content .editorTest { 
        font: normal 1.11em KaTeX_Main,Times New Roman,serif;
        width: 84vw;
        max-width: 84vw;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        line-height: 2em;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        padding-bottom: 90px;
        list-style: none;
        background: white;   
        padding:10px 5px 100px 20px; 
    }
    .question-content .editorTest { 
        font: normal 1.11em KaTeX_Main,Times New Roman,serif;
        min-height: 5vh;
        width: 84vw;
        max-width: 84vw;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        line-height: 2em;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        padding-bottom: 90px;
        list-style: none;
        background: white;   
        padding:10px 5px 100px 20px; 
    } 
  }
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) { 
    .question-content {
        margin-bottom: 50px;
        background: white;   
        align-items: center;
        justify-content: center;  
    }
    .question-explanation-content {
        background: white;   
        align-items: center;
        justify-content: center;  
    }
    .question-explanation-content .editorTest { 
        font: normal 1.11em KaTeX_Main,Times New Roman,serif;
        width: 84vw;
        max-width: 84vw;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        line-height: 2em;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        padding-bottom: 90px;
        list-style: none;
        background: white;   
        padding:10px 5px 100px 20px; 
    }
    .question-content .editorTest { 
        font: normal 1.11em KaTeX_Main,Times New Roman,serif;
        min-height: 5vh;
        width: 84vw;
        max-width: 84vw;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        line-height: 2em;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        padding-bottom: 90px;
        list-style: none;
        background: white;   
        padding:10px 5px 100px 20px; 
    } 
  }
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .question-content {
        margin-bottom: 50px;
        background: white;   
        align-items: center;
        justify-content: center;  
    }
    .question-explanation-content {
        background: white;   
        align-items: center;
        justify-content: center;  
    }
    .question-explanation-content .editorTest { 
        font: normal 1.11em KaTeX_Main,Times New Roman,serif;
        width: 84vw;
        max-width: 84vw;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        line-height: 2em;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        padding-bottom: 90px;
        list-style: none;
        background: white;   
        padding:10px 5px 100px 20px; 
    }
    .question-content .editorTest { 
        font: normal 1.11em KaTeX_Main,Times New Roman,serif;
        min-height: 5vh;
        width: 84vw;
        max-width: 84vw;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        line-height: 2em;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        padding-bottom: 90px;
        list-style: none;
        background: white;   
        padding:10px 5px 100px 20px; 
    } 
  }
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    @@@ Gets mobile landscape
  */
  @media (min-width: 480px) and (max-width: 767px)  {    
    .question-content {
        margin-bottom: 50px;
        background: white;   
        align-items: center;
        justify-content: center;  
    }
    .question-explanation-content {
        background: white;   
        align-items: center;
        justify-content: center;  
    }
    .question-explanation-content .editorTest { 
        font: normal 1.11em KaTeX_Main,Times New Roman,serif;
        width: 84vw;
        max-width: 84vw;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        line-height: 2em;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        padding-bottom: 90px;
        list-style: none;
        background: white;   
        padding:10px 5px 100px 20px; 
    }
    .question-content .editorTest { 
        font: normal 1.11em KaTeX_Main,Times New Roman,serif;
        min-height: 5vh;
        width: 84vw;
        max-width: 84vw;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        line-height: 2em;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        padding-bottom: 90px;
        list-style: none;
        background: white;   
        padding:10px 5px 100px 20px; 
    } 
  
  }
  @media  only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation:landscape)  {    
    .question-content {
        margin-bottom: 50px;
        background: white;   
        align-items: center;
        justify-content: center;  
    }
    .question-explanation-content {
        background: white;   
        align-items: center;
        justify-content: center;  
    }
    .question-explanation-content .editorTest { 
        font: normal 1.11em KaTeX_Main,Times New Roman,serif;
        width: 84vw;
        max-width: 84vw;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        line-height: 2em;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        padding-bottom: 90px;
        list-style: none;
        background: white;   
        padding:10px 5px 100px 20px; 
    }
    .question-content .editorTest { 
        font: normal 1.11em KaTeX_Main,Times New Roman,serif;
        min-height: 5vh;
        width: 84vw;
        max-width: 84vw;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        line-height: 2em;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        padding-bottom: 90px;
        list-style: none;
        background: white;   
        padding:10px 5px 100px 20px; 
    } 
  }
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  @media (min-width: 320px) and (max-width: 480px)  {
    .question-content {
        margin-bottom: 50px;
        background: white;   
        align-items: center;
        justify-content: center;  
    }
    .question-explanation-content {
        background: white;   
        align-items: center;
        justify-content: center;  
    }
    .question-explanation-content .editorTest { 
        font: normal 1.11em KaTeX_Main,Times New Roman,serif;
        width: 84vw;
        max-width: 84vw;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        line-height: 2em;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        padding-bottom: 90px;
        list-style: none;
        background: white;   
        padding:10px 5px 100px 20px; 
    }
    .question-content .editorTest { 
        font: normal 1.11em KaTeX_Main,Times New Roman,serif;
        min-height: 5vh;
        width: 84vw;
        max-width: 84vw;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        line-height: 2em;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        padding-bottom: 90px;
        list-style: none;
        background: white;   
        padding:10px 5px 100px 20px; 
    } 
  }