/* body {
  margin: 0;
}
div.stage {
background: yellow;
  width: 100%;
  min-height: 300px;
  padding: 0;
  overflow: hidden;
  position: relative;
}
span {
position: absolute;
width: 30px;
height: 20px;
background-color:teal;
} */