.column-label {
    /* position: absolute; */
    /* width: 100px;
    height: 100px;
    padding: 5px 5px 5px;
    margin: 5px 5px 5px; */
    /* height: 10px; */
    width: 200px;
    height: 35px;
    margin-left: -80px;
    background-color: paleturquoise;
    background: paleturquoise;
    position: fixed;
    z-index: 1;
  
}
.column-label:hover {
    /* position: absolute; */
    width: 150px;
    height: 150px;
    padding: 5px 5px 5px;
    margin: 5px 5px 5px;
    background-color: orange;
    background: orange;
    /* z-index: 100; */
}
.column-label2 {
    /* position: absolute; */
    width: 10px;
    /* height: 10px; */
    padding: 5px 5px 5px;
    margin: 5px 5px 5px;
    background-color: pink;
    background: pink;
    border-color: orangered;
    border-style: dashed;
    border-width: 1px;
    /* opacity: 0; */
    /* z-index: -100; */
}
.column-label2:hover .column-label2:focus, .column-label2:active {
    /* transformations */
    -webkit-animation-name: column-label2;
    animation-name: column-label2;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

}
.hvr-pulse {
    width: 100px;
    height: 2px;
    padding: 2px 2px 2px;
    margin-top: -35px;
    background-color: pink;
    background: pink;
    border-color: orangered;
    border-style: dashed;
    border-width: 1px;
    /* position: absolute;
    z-index: -100; */

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    /* -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; */
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }





/* Pulse */
/* @-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  } */
 