@import url('https://fonts.googleapis.com/css?family=Orbitron');
.digital {
    position: fixed;
    z-index: 1;
    margin-left: 35%;
    top: 10px;
    width: 356px;
    height: 100px;
}
.digital .digital-clock {
    font-family: 'Orbitron';
    color: green;
    font-size: 100px;
    margin-top: -80px;
    margin-left: -44%;
}
@media (min-width: 1281px) {
    .digital {
        position: fixed;
        z-index: 1;
        margin-left: 35%;
        top: 10px;
        width: 356px;
        height: 100px;
    }
    .digital .digital-clock {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        margin-top: -80px;
        margin-left: -8.5vw;
        width: 3px;
    }
}
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {  
    .digital {
        position: fixed;
        z-index: 1;
        margin-left: 35%;
        top: 10px;
        width: 356px;
        height: 100px;
    }
    .digital .digital-clock {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        margin-top: -80px;
        margin-left: -8.5vw;
    }
  }
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) { 
    .digital {
        position: fixed;
        z-index: 1;
        margin-left: 35%;
        top: 10px;
        width: 356px;
        height: 100px;
    }
    .digital .digital-clock {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        margin-top: -80px;
        margin-left: -44%;
    }
  }
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .digital {
        position: fixed;
        z-index: 1;
        margin-left: 35%;
        top: 10px;
        width: 356px;
        height: 100px;
    }
    .digital .digital-clock {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        margin-top: -80px;
        margin-left: -44%;
    }
  }
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    @@@ Gets mobile landscape
  */
  @media (min-width: 480px) and (max-width: 767px)  {    
    .digital {
        position: fixed;
        z-index: 1;
        margin-left: 35%;
        top: 10px;
        width: 356px;
        height: 100px;
    }
    .digital .digital-clock {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        margin-top: -80px;
        margin-left: -44%;
    }
  
  }
  @media  only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation:landscape)  {    
    .digital {
        position: fixed;
        z-index: 1;
        margin-left: 35%;
        top: 10px;
        width: 356px;
        height: 100px;
    }
    .digital .digital-clock {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        margin-top: -80px;
        margin-left: -44%;
    }
  }
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  @media (min-width: 320px) and (max-width: 480px)  {
    .digital {
        position: fixed;
        z-index: 1;
        margin-left: 35%;
        top: 10px;
        width: 356px;
        height: 100px;
    }
    .digital .digital-clock {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        margin-top: -80px;
        margin-left: -44%;
    }
  }
