.main {
    box-sizing: border-box; 
    width: 100vw; 
    /** Overlay**/
    position: absolute;
    z-index: 2;
    width: 1130px;
    height: auto;
    min-height: 110vh;
    top: 40px;
    left: 110px;
    right: 0;
    bottom: 105px;    
    background-color: rgba(0,0,0,1);
    cursor: pointer;   
}
.main-visible {
    box-sizing: border-box; 
    width: 100vw; 
    /** Overlay**/
    position: absolute;
    z-index: 2000;
    /* width: 1900px; */
    width: 1200px;
    height: auto;
    min-height: 110vh;
    top: 5px;
    right: 25px;
    bottom: 105px;    
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;   
    visibility: visible;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    margin-right: -70vw;
    /* margin-left: 50px; */
}
.main-hidden {
    box-sizing: border-box; 
    width: 100vw; 
    /** Overlay**/
    position: absolute;
    z-index: 2;
    width: 1130px;
    height: auto;
    min-height: 100vh;
    top: 40px;
    left: 110px;
    right: 0;
    bottom: 105px;    
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;   
    opacity: 0;
    animation-name: fadeOutOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    margin-left: 50px;
}
.primary {
    margin-left: 5%;
    bottom: 0%;
    width: 500vw;
}
.primary .primary-row {
    align-items: center;
    text-align: center;
    margin-left: 5%;
    width: 60vw;
}
.primary .primary-row .missed-questions {
    color: black;
    width: 1px;
    height: 10px;
    margin-right: 5%;
}
.secondary {
    align-items: center;
    text-align: center;
    margin-left: 10px;
}
.secondary .secondary-row {
    align-items: center;
    text-align: center;
    margin-left: 53%;
    margin-top: 55%;
}
.tertiary-sidepanel {
    margin-top: 12%;
    width: 1500px;
    height: auto;
    margin-left: 25%;
    /* margin-left: 9.9%; */
    /* padding-right: 10px; */
    right: 0;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10%;
    border: 2px solid #f5f5f5;
    border-radius: 0%; 
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    color:white;
}
.tertiary-sidepanel .insights-data {
    margin-top: 3px;
    color:white;
}
.tertiary-sidepanel .insights-data .col-data {
    margin-top: 13px;
    color:white;
}
.tertiary-sidepanel .insights-data .row-data {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 33px;
    padding-left: 27px;
    color:white;
}
.toggleButton2 {
    position: absolute;
    z-index: 2;
    background: white;
    width: 30px;
    height: 30px;
    border: 2px solid #f5f5f5;
    border-radius: 50%; 
    margin-top: 5px;
    margin-left: 96%;
    transition: transform .0s ease-in-out;
    box-shadow: 5px 5px black;
}
.toggleButton2:hover
 {
  transform: translateY(4px);
  background-image: linear-gradient(to left, violet, red,  green, white, green, yellow, orange, red);
  background: linear-gradient(to left, violet, red,  green, white, green, yellow, orange, red);
}
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}