  div.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: auto;
    min-height: 5vh;
    width: 92vw;
    max-width: 92vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 190px;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  div.container {
    width: auto;
    height: 100%;
    overflow: visible;
    margin-left: -5%;
  }
  button {
    border: 0;
    border-radius: 4px;
    background: #d2e3f7;
    width: 100%;
    padding: 6px 8px;
    position: relative;
  }
  button:hover {
    cursor: pointer;
  }
  button::after {
    position: absolute;
    right: 6px;
    top: 4px;
    content: "\2191";
  }
  button.expanded::after {
    content: "\2193";
  }
  ul.options {
    border: 1px solid #d2e3f7;
    display: none;
    list-style: none;
    padding: 4px 0;
    margin-top: -4px;
  }
  ul.show {
    display: block;
    position: relative;
    z-index: 5000;
  }
  ul.options li {
    border-top: 2px solid #555;
    position: relative;
    z-index: 5000;
  }
  ul.options li:active,
  ul.options li:focus,
  ul.options li:hover,
  ul.options li[aria-selected="true"] {
    background: #d2e3f7;
    cursor: pointer;
    border-top: 2px solid #555;
    position: relative;
    z-index: 5000;
  }
  .select-editor {
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-left: -50px;
    margin-bottom: 15px;
    padding-top: 17px;
    padding-bottom: 1px;
  }
  .select-editor .answer-content-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100px;
    right: 0;
    bottom: 100px; 
    /* background-color: rgba(0,0,0,0.5); */
    cursor: pointer;
  }
  .selected-editor {
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-left: -50px;
    margin-bottom: 15px;
  }
  .selected-editor .answer-content-overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100px;
    right: 0;
    bottom: 100px; 
    /* background-color: rgba(0,0,0,0.5); */
    cursor: pointer;
  }
  .select-editor-expanded {
    cursor: pointer;
    margin-left: -150px;
  }
  .expand-icon {
    margin-left: 2px;
    position: relative;
    z-index: 1;
  }
  .answer-content {
    width: 5px;
    margin-top: -55px;
  }