.editor-main {
    margin-left: 0px;
}
.editor-main img {
    width: 50vw;
    height: 50vh;
}
.editor-main image {
    width: 50vw;
    height: 50vh;
}
.editor-main iframe {
    width: 50vw;
    height: 50vh;
}