.quizzWithPointsBuilder{
    height:auto;
    min-height: 5vh;
    width: 92vw;
    max-width: 92vw;    
    display: flex; 
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    background:white;
    padding-bottom: 90px;
    background:#ffffff; 
    list-style: none;
    align-items: center;
    justify-content: center;
}
.quizzWithPointsBuilder .answerEditorBuilder {
    height:auto;
    min-height: 5vh;
    max-width: 92vw;
    transform: scale(1); 
    transition: all 0.6s ease 0s;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    align-items: center; 
    background:#ffffff; 
    list-style: none;
    align-items: center;
    justify-content: center;
}
.quizzWithPointsBuilder .answerEditorBuilder .editorTest {
    max-width: 95vw;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0 0 0 5px #d2e3f7;
    padding-bottom: 90px;
    list-style: none;
    background: white;
    padding: 10px 5px 15px 20px;
}
.quizzWithPointsBuilder .answerEditorBuilder .editorTest-preview {
    height: auto;
    min-height: 17vh;
    width: 1150px;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0 0 0 5px #d2e3f7;
    list-style: none;
    background: white;
    padding: 10px 5px 15px 20px;
}
.quizzWithPointsBuilder .answerEditorBuilder .formlist {
    height: 90vh;
    max-height: 100vh;
}
.quizzWithPointsBuilder header{
    display: flex;
    flex-direction: row;
    align-items: center;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index: 1;
    width: 80%;
    height: 10%;
    text-align: center;
    margin-bottom: 25%;
}
.quizzWithPointsBuilder label{
    width: 400px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-left: -190px;
    background: rgb(101, 245, 101);
    border-radius: 5px;
    padding-bottom: 9px;
    background: transparent;
}
.quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 {
    width: 2000px;
    list-style: none;
    margin-left: -40%;
    margin-bottom: -5%;
}
.quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .row-margin {
    margin-top: 50px;
    width: 2000px;
    margin-left: 10%;
}
.quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2  .col-margin {
    margin-top: 165px;
    margin-left: 40%;
}
.quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2  .col-margin-no-editor {
    margin-top: 165px;
    margin-left: 77%;
}
.quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2  .col-input {
    margin-top: 220px;
    margin-left: -700px;
}
.quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor {
    margin-left: 49%;
}
.quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .col-editor-selected {
    margin-left: 49%;
}
.quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor .custom-answer .answer-label-test  {
    margin-left: 49%;
}
.quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor-selected .custom-answer .answer-label-test {
    margin-left: 49%;
}
.quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor .custom-answer .answer-checkbox-label-test {
    margin-left: 49%;
}
.quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor-selected .custom-answer .answer-checkbox-label-test  {
    margin-left: 49%;
}
.quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right {
    margin-left: 0%;
}
.quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons {
    visibility: hidden;
}
.quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons:hover {
    visibility: visible;
}
.quizzWithPointsBuilder .answerEditorBuilder .radio {
     margin-top: 5%;
     margin-left: 5%;
     margin-bottom: 3%;
     width: 10px;
} 
.quizzWithPointsBuilder .answerEditorBuilder .radio select {
    border: none;
    width: 300px;
    text-align: center;
    margin-top: 10px;
    background: orange;
}
.quizzWithPointsBuilder .answerEditorBuilder .explanation {
     margin-top: 55%;
     margin-left: 55%;
     margin-bottom: 33%;
     width: 10px;
 }
 .quizzWithPointsBuilder .answerEditorBuilder .explanation .explanation-label {
    width: 400px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    margin-top: 0px;
    background: rgb(101, 245, 101);
    border-radius: 5px;
    padding-bottom: 9px;
}
 
.quizzWithPointsBuilder .answerEditorBuilder .radio .radioButton {
    width: 10vw;
}
.quizzWithPointsBuilder .answerEditorBuilder .text {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
    width: 100vw;
}
.quizzWithPointsBuilder .answerEditorBuilder .OnlineListItems {
    height: 80vh;
    width: 190vw;
    max-width: 195vw;  
    align-items: center;
    justify-content: center;
}
.content3 .sidebar2 {
    flex-basis: 300px;
    background: #fbf9ff;
    border-right: 1px solid #bba0ea;
    padding-right: 0px;
    padding-left: 1px;
    display: flex;
    flex-direction: column;
    background-color: slateblue;
    z-index: 1;
}
.quizzWithPointsBuilder .answerEditorBuilder .rnd{
    height: 100vh;
    width: 90vw;
    max-width: 90vw;
    max-height: 100vh; 
}
.quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons .builder-round-button-1, .builder-round-button-2, .builder-round-button-3, .builder-round-button-4, .builder-round-button-5, .builder-round-button-6 {
    align-self: flex-end; 
    width:70px;
    height:60px;
    line-height: 60px;
    border: 2px solid #f5f5f5;
    border-radius: 50%; 
    margin-top: 30px;
    margin-right: 60px;
    transition: transform .7s ease-in-out;
    box-shadow: 10px 10px black;
 }
 .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons .builder-round-button-2 { 
   background: yellowgreen;
   visibility: hidden;
 }
 .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons .builder-round-button-2:hover
 {
    background-image: linear-gradient(to left, violet, red, white, green, green, orange, red);
    background: linear-gradient(to left, violet, red,  green, white, green, green, orange, red);
    cursor: pointer;
    visibility: visible;
 }
 .modal-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left: 11%;
    z-index: 1;
    width: 80%;
    height: 10%;
    text-align: center;
    margin-bottom: -10%;
}
/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  @keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
@media only screen and (min-width: 638px) {
    .quizzWithPointsBuilder{
    height:auto;
    min-height: 5vh;
    width: 92vw;
    max-width: 92vw;   
    display: flex; 
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    background:#ffffff; 
    padding-bottom: 90px;
    list-style: none;
    align-items: center;
    justify-content: center;
    }
    .quizzWithPointsBuilder .answerEditorBuilder {
        height:auto;
        min-height: 5vh;
        max-width: 92vw;
        transform: scale(1); 
        transition: all 0.6s ease 0s;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        align-items: center; 
        list-style: none;
        align-items: center;
        justify-content: center;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .editorTest {
        font: normal 1.71em KaTeX_Main,Times New Roman,serif;
        height: auto;
        min-height: 5vh;
        width: 1150px;
        text-align: left;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .editorTest-preview {
        height: auto;
        min-height: 17vh;
        width: 1150px;
        text-align: left;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        list-style: none;
        background: white;
        padding: 10px 5px 15px 20px;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .formlist {
        height: 90vh;
        max-height: 100vh;
    }
    .quizzWithPointsBuilder header{
        display: flex;
        flex-direction: row;
        align-items: center;
        display:flex;
        align-items:center;
        justify-content:center;
        z-index: 1;
        width: 80%;
        height: 10%;
        text-align: center;
        margin-bottom: 25%;
    }
    .quizzWithPointsBuilder label{
        width: 400px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
        margin-left: -190px;
        background: rgb(101, 245, 101);
        border-radius: 5px;
        padding-bottom: 9px;
        background: transparent;
    } 
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 {
        width: 2000px;
        list-style: none;
        margin-left: -40%;
        margin-bottom: -5%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .item {
        width: 500px;
        margin-left: 600px;
        background-color: white;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons {
        width: 2000px;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .row-margin {
        margin-top: 220px;
        width: 2000px;
        margin-left: 10%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .row-margin .row-answer-key{
        margin-top: 100px;
        width: 2000px;
        margin-left: -650px;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2  .col-margin {
        margin-top: 165px;
        margin-left: 40%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2  .col-margin-no-editor {
        margin-top: 165px;
        margin-left: 77%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2  .col-input {
        margin-top: 220px;
        margin-left: -700px;
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor {
        margin-left: 49%;
        margin-top: -10%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .col-editor-selected {
        margin-left: 49%;
        margin-top: -10%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor .custom-answer .answer-label-test {
        margin-left: 1px;
        border-radius: 50%;
        width: 60px;
        background: white;
        box-shadow: 10px 10px black;

        /* Bounce Out */
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor .custom-answer .answer-label-test:hover  {
        margin-left: 1px;
        border-radius: 50%;
        width: 60px;
        color: green;
        background-color: #dfd;
        box-shadow: 10px 10px black;
        cursor: grab;

         /* Bounce Out */
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor .custom-answer .answer-label-test-selected, .answer-label-test-selected:focus, .answer-label-test-selected:active {
        margin-left: 1px;
        border-radius: 50%;
        width: 60px;
        background:#d2e3f7;
        color: black;

        /* Bounce Out */
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
  
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor .custom-answer .answer-label-test-selected:hover, .answer-label-test-selected:focus, .answer-label-test-selected:active {
        margin-left: 1px;
        border-radius: 50%;
        width: 60px;
        color: #d2e3f7;
        background-color: #dfd;
        box-shadow: 10px 10px black;
        cursor: grab;
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor-selected .custom-answer .answer-label-test {
        margin-left: 1px;
        border-radius: 50%;
        width: 60px;
        background: white;
        box-shadow: 10px 10px black;
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor-selected .custom-answer .answer-label-test-selected {
        margin-left: 1px;
        border-radius: 50%;
        width: 60px;
        background:#d2e3f7;
        color: white;
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor-selected .custom-answer .answer-label-test:hover {
        margin-left: 1px;
        border-radius: 50%;
        width: 60px;
        color:#d2e3f7;
        background-color: #dfd;
        cursor: grab;
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor-selected .custom-answer .answer-label-test-selected:hover {
        margin-left: 1px;
        border-radius: 50%;
        width: 60px;
        color: #d2e3f7;
        background-color: #dfd;
        box-shadow: 10px 10px black;
    }

    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor .custom-answer .answer-checkbox-label-test {
        margin-left: 1px;
        border-radius: 5%;
        width: 60px;
        background: white;
        box-shadow: 10px 10px black;

        /* Bounce Out */
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor .custom-answer .answer-checkbox-label-test:hover {
        margin-left: 1px;
        border-radius: 5%;
        width: 60px;
        color: green;
        background-color: #dfd;
        box-shadow: 10px 10px black;
        cursor: grab;

        /* Bounce Out */
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor .custom-answer .answer-checkbox-label-test-selected, .answer-checkbox-label-test-selected:focus, .answer-checkbox-label-test-selected:active  {
        margin-left: 1px;
        border-radius: 5%;
        width: 60px;
        background:#d2e3f7;
        color: black;

        /* Bounce Out */
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor .custom-answer .answer-checkbox-label-test-selected:hover {
        margin-left: 1px;
        border-radius: 5%;
        width: 60px;
        color: #d2e3f7;
        background-color: #dfd;
        box-shadow: 10px 10px black;
        cursor: grab;

        /* Bounce Out */
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor-selected .custom-answer .answer-checkbox-label-test {
        margin-left: 1px;
        border-radius: 5%;
        width: 60px;
        background: white;
        box-shadow: 10px 10px black;

        /* Bounce Out */
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor-selected .custom-answer .answer-checkbox-label-test-selected, .answer-checkbox-label-test-selected:focus, .answer-checkbox-label-test-selected:active   {
        margin-left: 1px;
        border-radius: 5%;
        width: 60px;
        background:#d2e3f7;
        color: white;
     
        /* Bounce Out */
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor-selected .custom-answer .answer-checkbox-label-test:hover {
        margin-left: 1px;
        border-radius: 5%;
        width: 60px;
        color:#d2e3f7;
        background-color: #dfd;
        box-shadow: 10px 10px black;
        cursor: grab;

        /* Bounce Out */
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right {
        margin-left: 0%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons {
        visibility: hidden;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons:hover {
        visibility: visible;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .radio {
         margin-top: 5%;
         margin-left: 5%;
         margin-bottom: 3%;
         width: 10px;
    } 
    .quizzWithPointsBuilder .answerEditorBuilder .radio select {
        border: none;
        width: 300px;
        text-align: center;
        margin-top: 10px;
        background: orange;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .explanation {
         margin-top: 55%;
         margin-left: 55%;
         margin-bottom: 33%;
         width: 10px;
     }
     .quizzWithPointsBuilder .answerEditorBuilder .explanation .explanation-label {
        width: 400px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        margin-top: 0px;
        background: rgb(101, 245, 101);
        border-radius: 5px;
        padding-bottom: 9px;
    }
     
    .quizzWithPointsBuilder .answerEditorBuilder .radio .radioButton {
        width: 10vw;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .text {
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 3%;
        width: 100vw;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .OnlineListItems {
        height: 80vh;
    }
    .content3 .sidebar2 {
        flex-basis: 300px;
        background: #fbf9ff;
        border-right: 1px solid #bba0ea;
        padding-right: 0px;
        padding-left: 1px;
        display: flex;
        flex-direction: column;
        background-color: slateblue;
        z-index: 1;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .rnd{
        height: 100vh;
        width: 90vw;
        max-width: 90vw;
        max-height: 100vh; 
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons .builder-round-button-1, .builder-round-button-2, .builder-round-button-3, .builder-round-button-4, .builder-round-button-5, .builder-round-button-6 {
        align-self: flex-end; 
        width:70px;
        height:60px;
        line-height: 60px;
        border: 2px solid #f5f5f5;
        border-radius: 50%; 
        margin-top: 30px;
        margin-right: 60px;
        transition: transform .7s ease-in-out;
        box-shadow: 10px 10px black;
     }
     .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons .builder-round-button-2 { 
       background: yellowgreen;
       visibility: hidden;
     }
     .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons .builder-round-button-2:hover
     {
        background-image: linear-gradient(to left, violet, red, white, green, green, orange, red);
        background: linear-gradient(to left, violet, red,  green, white, green, green, orange, red);
        cursor: pointer;
        visibility: visible;
     }
     .modal-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-left: 11%;
        z-index: 1;
        width: 80%;
        height: 10%;
        text-align: center;
        margin-bottom: -10%;
    }
   
}

  @media only screen and (max-width: 637px) {
   
  }
  
  /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */
  
  @media (min-width: 1281px) {
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
   
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) { 
  }
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  @media (min-width: 481px) and (max-width: 767px) {
    .quizzWithPointsBuilder{
        height:auto;
        min-height: 5vh;
        width: 92vw;
        max-width: 92vw;    
        display: flex; 
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        background:#ffffff; 
        padding-bottom: 90px;
        list-style: none;
        align-items: center;
        justify-content: center;
    }
    .quizzWithPointsBuilder .answerEditorBuilder {
        height:auto;
        min-height: 5vh;
        max-width: 92vw; 
        transform: scale(1); 
        transition: all 0.6s ease 0s;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        background:#ffffff; 

    }
    .quizzWithPointsBuilder .answerEditorBuilder .editorTest {
        font: normal 1.71em KaTeX_Main,Times New Roman,serif;
        height: auto;
        min-height: 5vh;
        width: 1070px;
        text-align: left;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .editorTest-preview {
        height: auto;
        min-height: 17vh;
        width: 1150px;
        text-align: left;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        list-style: none;
        background: white;
        padding: 10px 5px 15px 20px;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .formlist {
        height: 90vh;
        max-height: 100vh;
    }
    .quizzWithPointsBuilder header{
        display: flex;
        flex-direction: row;
        align-items: center;
        display:flex;
        align-items:center;
        justify-content:center;
        z-index: 1;
        width: 80%;
        height: 10%;
        text-align: center;
        margin-bottom: 25%;
    }
    .quizzWithPointsBuilder label{
        width: 400px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
        margin-left: -190px;
        background: rgb(101, 245, 101);
        border-radius: 5px;
        padding-bottom: 9px;
        background: transparent;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 {
        width: 2000px;
        list-style: none;
        margin-left: -40%;
        margin-bottom: -5%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .row-margin {
        margin-top: 50px;
        width: 2000px;
        margin-left: 10%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2  .col-margin {
        margin-top: 165px;
        margin-left: 40%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2  .col-margin-no-editor {
        margin-top: 165px;
        margin-left: 77%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2  .col-input {
        margin-top: 220px;
        margin-left: -700px;
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor {
        margin-left: 49%
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .col-editor-selected {
        margin-left: 49%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right {
        margin-left: 0%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons {
        visibility: hidden;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons:hover {
        visibility: visible;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .radio {
         margin-top: 5%;
         margin-left: 5%;
         margin-bottom: 3%;
         width: 10px;
    } 
    .quizzWithPointsBuilder .answerEditorBuilder .radio select {
        border: none;
        width: 300px;
        text-align: center;
        margin-top: 10px;
        background: orange;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .explanation {
         margin-top: 55%;
         margin-left: 55%;
         margin-bottom: 33%;
         width: 10px;
     }
     .quizzWithPointsBuilder .answerEditorBuilder .explanation .explanation-label {
        width: 400px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        margin-top: 0px;
        background: rgb(101, 245, 101);
        border-radius: 5px;
        padding-bottom: 9px;
    }
     
    .quizzWithPointsBuilder .answerEditorBuilder .radio .radioButton {
        width: 10vw;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .text {
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 3%;
        width: 100vw;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .OnlineListItems {
        height: 80vh;
    }
    .content3 .sidebar2 {
        flex-basis: 300px;
        background: #fbf9ff;
        border-right: 1px solid #bba0ea;
        padding-right: 0px;
        padding-left: 1px;
        display: flex;
        flex-direction: column;
        background-color: slateblue;
        z-index: 1;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .rnd{
        height: 100vh;
        width: 90vw;
        max-width: 90vw;
        max-height: 100vh; 
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons .builder-round-button-1, .builder-round-button-2, .builder-round-button-3, .builder-round-button-4, .builder-round-button-5, .builder-round-button-6 {
        align-self: flex-end; 
        width:70px;
        height:60px;
        line-height: 60px;
        border: 2px solid #f5f5f5;
        border-radius: 50%; 
        margin-top: 30px;
        margin-right: 60px;
        transition: transform .7s ease-in-out;
        box-shadow: 10px 10px black;
     }
     .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons .builder-round-button-2 { 
       background: yellowgreen;
       visibility: hidden;
     }
     .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons .builder-round-button-2:hover
     {
        background-image: linear-gradient(to left, violet, red, white, green, green, orange, red);
        background: linear-gradient(to left, violet, red,  green, white, green, green, orange, red);
        cursor: pointer;
        visibility: visible;
     }
     .modal-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-left: 11%;
        z-index: 1;
        width: 80%;
        height: 10%;
        text-align: center;
        margin-bottom: -10%;
    }
    
  }
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  @media (min-width: 320px) and (max-width: 480px) {
    .quizzWithPointsBuilder{
        height:auto;
        min-height: 5vh;
        width: 92vw;
        max-width: 92vw;   
        display: flex; 
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        align-items: center;
        justify-content: center;
        background:#ffffff; 
        padding-bottom: 90px;
        list-style: none;
    }
    .quizzWithPointsBuilder .answerEditorBuilder {
        height:auto;
        min-height: 5vh;
        max-width: 92vw;  
        transform: scale(1); 
        transition: all 0.6s ease 0s;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none; 
    }
    .quizzWithPointsBuilder .answerEditorBuilder .editorTest {
        font: normal 1.71em KaTeX_Main,Times New Roman,serif;
        height: auto;
        min-height: 5vh;
        width: 1070px;
        text-align: left;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .editorTest-preview {
        height: auto;
        min-height: 15vh;
        width: 1150px;
        text-align: left;
        display: flex;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
        text-align: left;
        border-radius: 25px;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 5px #d2e3f7;
        list-style: none;
        background: white;
        padding: 10px 5px 15px 20px;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .formlist {
        height: 90vh;
        max-height: 100vh;
    }
    .quizzWithPointsBuilder header{
        display: flex;
        flex-direction: row;
        align-items: center;
        display:flex;
        align-items:center;
        justify-content:center;
        z-index: 1;
        width: 80%;
        height: 10%;
        text-align: center;
        margin-bottom: 25%;
    }
    .quizzWithPointsBuilder label{
        width: 400px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
        margin-left: -190px;
        background: rgb(101, 245, 101);
        border-radius: 5px;
        padding-bottom: 9px;
        background: transparent;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 {
        width: 2000px;
        list-style: none;
        margin-left: -40%;
        margin-bottom: -5%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .row-margin {
        margin-top: 50px;
        width: 2000px;
        margin-left: 10%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2  .col-margin {
        margin-top: 165px;
        margin-left: 40%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2  .col-margin-no-editor {
        margin-top: 165px;
        margin-left: 77%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2  .col-input {
        margin-top: 220px;
        margin-left: -700px;
    }
    .quizzWithPointsBuilder .answerEditorBuilder  .listItem .lessons  .lesson-item2  .col-editor {
        margin-left: 49%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .col-editor-selected {
        margin-left: 49%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right {
        margin-left: 0%;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons {
        visibility: hidden;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons:hover {
        visibility: visible;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .radio {
         margin-top: 5%;
         margin-left: 5%;
         margin-bottom: 3%;
         width: 10px;
    } 
    .quizzWithPointsBuilder .answerEditorBuilder .radio select {
        border: none;
        width: 300px;
        text-align: center;
        margin-top: 10px;
        background: orange;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .explanation {
         margin-top: 55%;
         margin-left: 55%;
         margin-bottom: 33%;
         width: 10px;
     }
     .quizzWithPointsBuilder .answerEditorBuilder .explanation .explanation-label {
        width: 400px;
        height: 50px;
        font-size: 25px;
        text-align: center;
        margin-top: 0px;
        background: rgb(101, 245, 101);
        border-radius: 5px;
        padding-bottom: 9px;
    }
     
    .quizzWithPointsBuilder .answerEditorBuilder .radio .radioButton {
        width: 10vw;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .text {
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 3%;
        width: 100vw;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .OnlineListItems {
        height: 80vh;
    }
    .content3 .sidebar2 {
        flex-basis: 300px;
        background: #fbf9ff;
        border-right: 1px solid #bba0ea;
        padding-right: 0px;
        padding-left: 1px;
        display: flex;
        flex-direction: column;
        background-color: slateblue;
        z-index: 1;
    }
    .quizzWithPointsBuilder .answerEditorBuilder .rnd{
        height: 100vh;
        width: 90vw;
        max-width: 90vw;
        max-height: 100vh; 
    }
    .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons .builder-round-button-1, .builder-round-button-2, .builder-round-button-3, .builder-round-button-4, .builder-round-button-5, .builder-round-button-6 {
        align-self: flex-end; 
        width:70px;
        height:60px;
        line-height: 60px;
        border: 2px solid #f5f5f5;
        border-radius: 50%; 
        margin-top: 30px;
        margin-right: 60px;
        transition: transform .7s ease-in-out;
        box-shadow: 10px 10px black;
     }
     .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons .builder-round-button-2 { 
       background: yellowgreen;
       visibility: hidden;
     }
     .quizzWithPointsBuilder .answerEditorBuilder .listItem .lessons .lesson-item2 .question-card-top-right .manage-input-field-icons .builder-round-button-2:hover
     {
        background-image: linear-gradient(to left, violet, red, white, green, green, orange, red);
        background: linear-gradient(to left, violet, red,  green, white, green, green, orange, red);
        cursor: pointer;
        visibility: visible;
     }
     .modal-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-left: 11%;
        z-index: 1;
        width: 80%;
        height: 10%;
        text-align: center;
        margin-bottom: -10%;
    }
}



