.lessonPage {
    display: flex;
    max-width: 1500px; 
    margin-left: 0px; 
}
.lessonPage .title {
    margin-left: -10px;
    width: "1500px";
}
.lessonPage .title .textBoxItem {
    margin-top: 20px;
}
.lessonPage .title-student {
    margin-left: -25%;
    width: "1500px";
}
.lessonPage .title-student .textBoxItem {
    margin-top: 20px;
}
.lessonPage .multicolortext{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #673ab7;
    margin: 0;
    margin-left: -200px;
    margin-bottom: -30px;
    font-size: 50px;
    width: auto;
    /* max-width: 500px; */
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: bold; 
    background-image: linear-gradient(to left, violet, red, white, green, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }