@import url('https://fonts.googleapis.com/css?family=Orbitron');
.clock {
    position: fixed;
    z-index: 1;
    margin-left: 15%;
    top: 50px;
    width: 356px;
    height: 100px;
}
.clock .digital {
    font-family: 'Orbitron';
    color: green;
    font-size: 100px;
    top: 130px;
    margin-left: -60%; 
  
}
.clock .digital .publish {
    cursor: pointer;
}
@media only screen and (min-width: 638px) {
    .clock {
        /* position: fixed;
        z-index: 1;
        margin-left: 0%;
        top: 500px;
        width: 356px;
        height: 100px; */
        position: fixed;
        z-index: 1;
        margin-left: 15%;
        top: 50px;
        width: 356px;
        height: 100px;
    }
    .clock .digital {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        top: 130px;
        margin-left: 0%; 
    }
    .clock .digital .publish {
        cursor: pointer;
    }
   
}

  @media only screen and (max-width: 637px) {
    .clock {
        /* position: fixed;
        z-index: 1;
        margin-left: 0%;
        top: 500px;
        width: 356px;
        height: 100px; */
        position: fixed;
        z-index: 1;
        margin-left: 15%;
        top: 50px;
        width: 356px;
        height: 100px;
    }
    .clock .digital {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        top: 130px;
        margin-left: 0%; 
    }
    .clock .digital .publish {
        cursor: pointer;
    }
  }
  
  /* 
    ##Device = Desktops
    ##Screen = 1281px to higher resolution desktops
  */
  
  @media (min-width: 1281px) {
    .clock {
        /* position: fixed;
        z-index: 1;
        margin-left: 0%;
        top: 500px;
        width: 356px;
        height: 100px; */
        position: fixed;
        z-index: 1;
        margin-left: 15%;
        top: 50px;
        width: 356px;
        height: 100px;
    }
    .clock .digital {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        top: 130px;
        margin-left: 0%; 
    }
    .clock .digital .publish {
        cursor: pointer;
    }
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .clock {
        /* position: fixed;
        z-index: 1;
        margin-left: 0%;
        top: 500px;
        width: 356px;
        height: 100px; */
        position: fixed;
        z-index: 1;
        margin-left: -15%;
        top: 50px;
        width: 356px;
        height: 100px;
    }
    .clock .digital {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        top: 130px;
        margin-left: 0%; 
    }
    .clock .digital .publish {
        cursor: pointer;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
   
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .clock {
        /* position: fixed;
        z-index: 1;
        margin-left: 0%;
        top: 500px;
        width: 356px;
        height: 100px; */
        position: fixed;
        z-index: 1;
        margin-left: -15%;
        top: 50px;
        width: 356px;
        height: 100px;
    }
    .clock .digital {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        top: 130px;
        margin-left: 0%; 
    }
    .clock .digital .publish {
        cursor: pointer;
    }
  }
  
  
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .clock {
        /* position: fixed;
        z-index: 1;
        margin-left: 0%;
        top: 500px;
        width: 356px;
        height: 100px; */
        position: fixed;
        z-index: 1;
        margin-left: -105%;
        top: 50px;
        width: 356px;
        height: 100px;
    }
    .clock .digital {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        top: 130px;
        margin-left: 0%; 
    }
    .clock .digital .publish {
        cursor: pointer;
    }
  }
  
  
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    .clock {
        position: fixed;
        z-index: 1;
        margin-left: -85%;
        top: 50px;
        width: 356px;
        height: 100px;
    }
    .clock .digital {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        top: 130px;
        margin-left: 0%; 
    }
    .clock .digital .publish {
        cursor: pointer;
    }

    
  }
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  @media (min-width: 320px) and (max-width: 480px) {
    .clock {
        position: fixed;
        z-index: 1;
        margin-left: -105%;
        top: 50px;
        width: 356px;
        height: 100px;
    }
    .clock .digital {
        font-family: 'Orbitron';
        color: green;
        font-size: 100px;
        top: 130px;
        margin-left: 0%; 
    }
    .clock .digital .publish {
        cursor: pointer;
    }

}