.CourseDetail {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .CourseDetail header {
    background-color: #673ab7;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  .CourseDetail header h1 {
    background-color: #673ab7;
    margin: 0;
    font-size: 24px;
  }
  .CourseDetail header .current-lesson {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
  }
  
  .CourseDetail .content {
    display: flex;
    height: 100vh;
  }
  
  .CourseDetail .sidebar {
    /* padding: 10px;  */
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
  }
  
  .CourseDetail .sidebar .lessons {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .lessons .lesson-item {
    margin-bottom: 5px;
    border-style: solid;
    border-radius: 3px;
  }
  .toggle-stage-btns-show,
  .plan-lesson-btn,
  .delete-lesson-btn,
  .edit-lesson-btn {
    opacity: 0;
    border: none;
    font-size: 10px;
    cursor: pointer;
  }
  .toggle-stage-btns-show {
    visibility: visible;
    margin-left: 5px;
  }
  .plan-lesson-btn {
    margin-left: 5px;
  }
  .edit-lesson-btn {
    margin-right: 5px;
  }
  .delete-lesson-btn {
    margin-right: 5px;
  }
  .toggle-stage-btns-hide {
    visibility: hidden;
  }
  .lesson-item:hover .toggle-stage-btns-show,
  .toggle-stage-btns-show:focus,
  .lesson-item:hover .plan-lesson-btn,
  .plan-lesson-btn:focus,
  .lesson-item:hover .delete-lesson-btn,
  .delete-lesson-btn:focus,
  .lesson-item:hover .edit-lesson-btn,
  .edit-lesson-btn:focus {
    opacity: 1;
  }
  .lesson-item.selected {
    background: #e9e5ff;
    color: #222;
    font-weight: 600;
    box-shadow: 0 0 3px #6734ba, 0 0 3px inset #fff;
  }
  .lesson,
  .lesson > div,
  .lesson-content {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .lesson > div {
    padding: 10px;
    display: flex;
  }
  .lesson-editor {
    font-size: 18px;
    font-family: 'Fira Mono', monospace;
    flex: 1;
    padding: 10px;
  }
  .lesson-editor-help {
    display: flex;
    justify-content: space-between;
  }
  .preview-btn {
    margin: 10px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    border: none;
    border-radius: 2px;
  }
  .preview-btn:active {
    background-color: #f7f2ff;
  }
  .span-btns {
    padding-left: 50px;
    padding-top: 0px;
  }
  /* .toggle-stage-btns-show {
    visibility: visible;
  }
  .toggle-stage-btns-hide {
    visibility: hidden;
  } */
  
  @media only screen and (min-width: 638px) {
    .CourseDetail .content {
      flex-direction: row;
      height: 100%;
    }
    .CourseDetail .sidebar {
      flex-basis: 300px;
      background: #fbf9ff;
      border-right: 1px solid #bba0ea;
    }
    .CourseDetail .lesson {
      flex: 1;
    }
  }
  @media only screen and (max-width: 637px) {
    .CourseDetail .content {
      flex-direction: column;
    }
    .CourseDetail .sidebar {
      background: #fbf9ff;
      border-bottom: 1px solid #bba0ea;
      min-height: 50px;
    }
    .CourseDetail .lesson {
      flex: 1;
    }
  }
  
  
  .flexible-modal {
    position: absolute;
    z-index: 1;
    border: 1px solid #ccc;
    background: white;
    /* padding-left: 1%; */
  }
  .flexible-modal-mask {
    position: fixed;
    height: 0%;
    background: rgba(55, 55, 55, 0.6);
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .flexible-modal-resizer {
    position:absolute;
    right:0;
    bottom:0;
    cursor:se-resize;
    margin:5px;
    border-bottom: solid 2px #333;
    border-right: solid 2px #333;
  }
  .flexible-modal-drag-area{
    background: rgba(22, 22, 333, 0.2);
    height: 50px;
    position:absolute;
    right:0;
    top:0;
    cursor:move;
  }
  
  video {
    border: 10px solid #999;
    width: 98%;
    max-width: 860px; 
    width: 600px;
    height: 300px;
    max-width: 700px;
    max-height: 500px;
    padding-left: 1%;
  }
  .videoComponents {
    margin-left: -5%;  
  }
  .videoComponents video {
    margin-left: 20%;  
    width: 500px;
    height: 250px;
    border-width: 1px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
  }
  .videoCallIconMain {
    width: 98%;
    max-width: 860px; 
    width: 600px;
    height: 300px;
    max-width: 700px;
    max-height: 500px;
    padding-left: 1%;
    top: -120px;
    margin-left: 30%;
  }
  .videoCallIconBody {
    top: -120px;
    margin-left: 1%;
  }
  .error {
    color: red;
  }
  .warn {
    color: orange;
  }
  .info {
    color: darkgreen;
  }    
  @media (min-width: 1281px) {
    /* CSS */
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */

    .videoComponents {
      margin-left: -55%;
      position: -webkit-sticky; /* Safari */
      position: sticky;
    }
    .videoComponents .videoDisplay {
      position: -webkit-sticky; /* Safari */
      position: sticky;
    }

    .videoComponents video {
      margin-left: -270%;
      width: 400px;
      height: 150px;
      border-width: 1px;
      position: -webkit-sticky; /* Safari */
      position: sticky;
    }

    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    .videoComponents {
      margin-left: -55%;
    }

    .videoComponents video {
      margin-left: -570%;
      width: 400px;
      height: 150px;
      border-width: 1px;
      position: relative;
      z-index: 1;
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    .videoComponents {
      margin-left: -55%;
    }

    .videoComponents video {
      margin-left: -570%;
      width: 400px;
      height: 150px;
      border-width: 1px;
      position: relative;
      z-index: 1;
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    .videoComponents {
      margin-left: -25%;
    }

    .videoComponents video {
      margin-left: -570%;
      width: 400px;
      height: 150px;
      border-width: 1px;
      position: relative;
      z-index: 1;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */

    .videoComponents {
      margin-left: -43%;
    }

    .videoComponents video {
      margin-left: -570%;
      width: 400px;
      height: 150px;
      border-width: 1px;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 0;
      /* position: relative;
      z-index: 1; */
    }
  }